@font-face{
    font-family: "test";
    src: url("../fonts/VarySharky-Regular.otf")
}
html{
    padding: 0;
    margin: 0;
    background: url('../images/background.jpg') center no-repeat;
    color: white;
    text-shadow: 0 0 1px black;
}

span h1{
    margin-left: 2%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: -10px;
    color: #EFEFCE;
    font-family: "test";
    font-size: 65px;
    text-shadow: 0 0 1px black;
}


center img{
    border: 3px black solid;
    border-radius: 15px;
    height: 250px
}


form{
    float:right;
    margin-right: 30%;
    margin-top: 1%
}

form input {
    padding: 1%;
    border-radius: 5px;
    border: 0px;
    margin-top: 1%
}

.envoyer{
    margin-right: -30%;

}

label{
    color: #EFEFCE
}

.contour{
    background-color: #24334C;
    z-index: 3;
    height: 85px;
    border-radius: 5px;
    border: 1px #000000 solid;
}

p{
    font-size: 20px;
    color: black;
    text-shadow: 0 0 1px white;

}

p{
    text-align: center;
}

