@font-face{
    font-family: "test";
    src: url("../fonts/VarySharky-Regular.otf")
}
html{
    padding: 0;
    margin: 0;
    background: url('../images/gallery1.jpg') center no-repeat;
    z-index: 3;
    overflow: hidden
}

span h1{
    margin: auto;
    text-align: center;
    color: #EFEFCE;
    font-family: "test";
    font-size: 105px;
    text-shadow: 0 0 1px black;
}


center img{
    border: 3px black solid;
    border-radius: 15px;
    height: 250px
}


form{
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    color: black;
    text-shadow: 0 0 1px black;
    padding: 1%;
    height: auto;
}

p{
    font-size: 15px;
    color: black;
    text-shadow: 0 0 1px black;
}

p{
    text-align: center;
}

