html{
    background-color: #EFEFCE;
    color: #24334C;
    word-break: break-all;
}

tr td{
    border: 3px #24334C solid;
    padding: 10px;
    margin-left: 10px
}

th{
    width: 10%;
    padding: 10px
}

.records_list thead tr{
    padding: 25%;
    margin: 25%;
}

.active, .sr-only{
    color: red
}


.navbar-inverse{
    background-color: #b84f0a;
    color: #EFEFCE
}

.navbar-inverse a{
    color: #EFEFCE
}

.active{
    background-color: #EFEFCEC;
    color: #24334C
}

.chat{
    float: right;
    height: 350px;
    background-color: red;
    width: 10%;
    margin-top: 10%;
    display: none
}

.chatIMG{
    width: 5%;
    float: right;
    margin-top: 10%
}


.chat p{
    text-align: center;
    font-size: 15px;
    background-color: black;
    padding: 1%
}

