@font-face{
    font-family: "test";
    src: url("../fonts/VarySharky-Regular.otf")
}

body{
    padding: 0;
    margin: 0;
    background: url('../images/gallery1.jpg') center no-repeat;
    z-index: 1;
    overflow: hidden;
}

img{
    height: auto;
    z-index: 2
}

span h1{
    margin-left: 2%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: -10px;
    color: #EFEFCE;
    font-family: "test";
    font-size: 65px;
    text-shadow: 0 0 1px black;
}

.custom button{
    opacity: 1;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 1%;
    border-radius: 5px;
    border: 1px black solid;
    height: auto;
    background-color: #204d74;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 1px white;
    font-family: "test";
    z-index: 2
}

.custom button:hover{
    transition: 0.4s;
    color: black;
    text-shadow: 0 0 1px black;
    background: url('../images/background.jpg') fixed no-repeat center right;
}

.custom .deco{
    margin-left: 30%;
    height: auto;
}

.custom{
    background-color: #96a4fc;
    padding: 1%
}

h3{
    float: right;
}

.chat-open , .map-open{
    float: right;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #96a4fc;
    padding: 1%
}

iframe{
    display: none;
    float: right;
    margin-left: 3%

}

.chat{
    float: right;
    height: 350px;
    background-color: #96a4fc;
    width: 15%;
    display: none;
    font-size: 15px;
    color: black;
    padding: 0;
    margin: 0
}
