<span><h1>Plateforme Animation</h1></span>
<br/>
<center>
    <button>Accueil <br/><img src="{{ asset('ico-a.png') }}" alt="society"/></button>
    <button>Groupe de documents <br/><img src="{{ asset('ico-b.png') }}" alt="society"/></button>
    <button>Parametres <br/><img src="{{ asset('ico-c.png') }}" alt="society"/></button>
</center>