{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}

    <div class="heading-green" align="center">
        <a href="{{ path('fos_user_security_logout') }}"><h2>Cliquez ici pour vous logger</h2></a>
    </div>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/plateformeanimationterritoire/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/plateformeanimationterritoire/css/bootstrap.min.css') }}"/>
    {% endblock %}



{% endblock %}